.menubar{
    background-color: bisque;
    border: 1px solid teal;
    color: white;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 75px;
    text-align: center;
}
#links{
    display: inline;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
}
#links:hover{
    background-color: bisque;
    border-radius: 10px;
}
#links a{
    color: green;
    font-style: none;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}